[Desktop Entry]
Name=Cornea
GenericName=A python screenshot application.
Comment=Take screenshots of your desktop.
Exec=<your_path>/screenshot
Icon=/usr/share/cornea/cornea.png
Type=Application
StartupNotify=true
Categories=Utility;
MimeType=text/plain;
Terminal=false
