[Desktop Entry]
Name=Cornea
GenericName=A Python and Gtk+ screenshot application.
Comment=Take screenshots of your desktop.
Exec=/bin/cornea
Icon=/usr/share/cornea/cornea.png
Type=Application
StartupNotify=true
Categories=Utility;
MimeType=text/plain;
Terminal=false
